*.root
datacards
infos_antibtag
infos_btag
pdfs
higgsCombineoutputs
workspaces
higgsCombineTests
higgsCombineBiases
comboLogs
brazilianFlags
mlfitoutputs
bkupResults
condorLogs
garbage
debug
*_C.d
*_c.d
*_C.so
*.png
*.pyc
AutoDict*
*.swp
.__*
.nfs*
*.pdf
datacards_btag_*
datacards_antibtag_*
datacards_combined_*
condorFactory.py
gofCondor
signalFits_btag
signalFits_antibtag
