*.root
garbage
*_C.d
*_c.d
*_C.so
*.png
*.pyc
AutoDict*
*.swp
.__*
.nfs*
*.pdf
datacards_btag_*
datacards_antibtag_*
datacards_combined_*
gofCondor
signalFits_btag
signalFits_antibtag
toys_antibtag
toys_btag
bias_antibtag_nom*
bias_btag_nom*
